<div class="container mt-5 pb-5">
 <h5>Datos Articulo</h5>
  <div class="card">
    <form class="mt-5" #articleForm="ngForm" (ngSubmit)="addArticle(articleForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="articleService.selectArticle.$key">
      <div class="form-group">
        <label for="exampleFormControlInput1">Titulo</label>
        <input type="text" name="title" [(ngModel)]="articleService.selectArticle.title" class="form-control" id="exampleFormControlInput1" placeholder="Titulo">
      </div>
    
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripcion</label>
        <textarea class="form-control" name="description" [(ngModel)]="articleService.selectArticle.description" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    
      <div class="form-group">
        <label for="exampleFormControlInput1">Telefono</label>
        <input type="text" class="form-control" name="telefono" [(ngModel)]="articleService.selectArticle.telefono" id="exampleFormControlInput1" placeholder="Telefono">
      </div>
    
      <div class="form-group">
        <label for="exampleFormControlInput1">Zona</label>
        <input type="text" class="form-control" name="zona" [(ngModel)]="articleService.selectArticle.zona" id="exampleFormControlInput1" placeholder="Ubicacion">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Precio</label>
        <input type="number" class="form-control" name="price" [(ngModel)]="articleService.selectArticle.price" id="exampleFormControlInput1" placeholder="Ubicacion">
      </div>
    
      <div class="form-group">
        <label for="exampleFormControlFile1">Seleccione Imagen</label>
        <input type="file" class="form-control-file" name="imageUrl" [(ngModel)]="articleService.selectArticle.imageUrl" id="exampleFormControlFile1" (change)="onFileSelected($event)">
      </div>

      <button type="submit" class="btn-secondary">Guardar</button>
      <button type="submit" class="btn-secondary ml-3" (click)="resetForm(articleForm)">Reset</button>
    </form>
  </div>
</div>